body {
    font-family: 'Codystar', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    font-family: 'Poiret One';
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;

}

img {
    width: 100px;
}

#logo {
    font-family: 'Nosifer', sans-serif;
    font-size: 45px;
    color: #8553c0;
    text-align: center;
}

.game-area {
    height: 130vh;
    max-width: 70%;
    background-color: rgb(241, 247, 246);
    border: solid 2px #8553c0;
    border-radius: 1%;
    margin: 0 auto;

}

.memory-container {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    perspective: 1000px;
}

.memory-card {
    height: calc(50% - 4%);
    width: calc(25% - 4%);
    padding: 1%;
    margin: 0 auto;
    border-radius: 10%;
    border: 1% solid black;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    position: relative;
}

/* W3 SCHOOLS */

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #8553c0;
    color: black;
}

.flip-card-back {
    background-color: #8553c0;
    color: white;
    transform: rotateY(180deg);
}

.flip-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* W3 SCHOOLS */


.result-area {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .game-area {
        height: 120vh;
        max-width: 70%;
    }

    .memory-container {
        height: 0;
    }

    .memory-card {
        height: 150px;
        width: 150px;
    }

    .flip-card img {
        width: 150px;
        height: 150px;
    }

    .flip-card {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 950px) {
    #logo {
        font-size: 35px;
    }

    p {
        font-size: 0.7rem;
    }

    .game-area {
        height: 100vh;
    }

    .memory-card {
        height: 120px;
        width: 120px;
    }

    .flip-card img {
        width: 120px;
        height: 120px;
    }

    .flip-card {
        background-color: transparent;
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 765px) {
    .memory-card {
        height: 100px;
        width: 100px;
    }

    .flip-card img {
        width: 100px;
        height: 100px;
    }

    .flip-card {
        background-color: transparent;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 650px) {
    .memory-card {
        height: 90px;
        width: 90px;
    }

    .flip-card img {
        width: 90px;
        height: 90px;
    }

    .flip-card {
        background-color: transparent;
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 580px) {
    .game-area {
        height: 120vh;
        max-width: 95%;
    }

    .memory-card {
        height: 100px;
        width: 100px;
    }

    .flip-card img {
        width: 100px;
        height: 100px;
    }

    .flip-card {
        background-color: transparent;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 475px) {

    .flip-card img {
        width: 80px;
        height: 80px;
    }

    .flip-card {
        background-color: transparent;
        width: 80px;
        height: 80px;
    }
}
