
body {
    font-family: 'Poiret One', sans-serif;

}
#logo { 
    font-family: 'Finger Paint', sans-serif;
    font-size: 45px;
    color: #2fd49d;
    text-align: center;
}
.game-area {
    width: 90%;
    height: 70vh;
    max-width: 800px;
    max-height: fit-content;
    background-color: rgb(241, 247, 246);
    border: solid 2px #2fd49d;
    border-radius: 1%;
    margin: 0 auto;

}